.welcomeRoot hr {
  border: 1px solid #efefef;
}

.welcomeActions {
  display: flex;
  justify-content: space-between;
  height: "100%";
}
.bottomSection {
  padding: 10px 30px;
}
.approvedImages {
  padding-left: 30px;
  padding-right: 30px;
}
.caption {
  padding-left: 30px;
}

.welcomeEmpty {
  text-align: center;
  width: 60%;
  margin: auto;
  opacity: 0.5;
}
