.welcomeRoot hr {
  border: 1px solid #efefef;
}

.welcomeActions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.bottomSection {
  padding: 10px 20px;
}
.approvedImages {
  padding: 10px 20px;
}
.caption {
  padding: 10px 20px;
}
